.img_section {
  width: 50%;
  background-image: url("../images/Rectangle 11.png");
  //   width: 800px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  color: white;
}
.img_section p {
  font-size: 25px;
  padding-top: 16rem;
  display: flex;
  justify-content: center;
  //   align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .img_section {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .img_section {
    width: 100%;
  }
}
